@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.ramdom-number{
  background-color: #1b76f2;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.ramdom-number-container{
  background-color: #333;
  max-width: 620px;
  width: 100%;
  border-radius: 8px;
  padding: 48px;
}

.random-number-title{
  text-align: center;
  font-weight: 500;
  color: #ffffff;

}

.random-number-btn{
  background-color: #1b76f2;
  display: block;
  margin: 32px auto;
  padding: 16px;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 6px;
  text-transform: capitalize;
  color: white;
  cursor: pointer;
}
.random-number-text{
  font-size: 16px;
  background-color: #2a292e;
  color: #fff;
  letter-spacing: 16px;
  text-align: center;
  padding: 16px 0;
}
.random-number-box{
  position: relative;
}
.random-number-copy{
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: margin .3s;
}
.random-number-copy:active{
  /* background-color: #333; */
  margin-right: 5px;
}