*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title{
  font-family: sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%  , -50%);
  color: white;
  font-size:45px;
}

.main{
  background-color: #000;
}

#page1{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.img{
  width: 100%;
  height: inherit;
  position: relative;
}

.img img{
  position: absolute;
  width: 30%;
  height: 80%;
  border-radius: 35px;
  cursor: pointer;
  object-fit: cover;
}

.one{
  top: 50%;
  right: 3%;
  transform: translate(-3% , -50%);
}

.two{
  top: 50%;
  left: 3%;
  transform: translate(-3% , -50%);
}

.three{
  top: 50%;
  right: 3%;
  transform: translate(-3% , -50%);
}
.four{
  top: 50%;
  left: 3%;
  transform: translate(-3% , -50%);
}
.five{
  top: 50%;
  right: 3%;
  transform: translate(-3% , -50%);
}
.six{
  top: 50%;
  left: 3%;
  transform: translate(-3% , -50%);
}


.social {
  position: fixed;
  z-index: 1111;
  right: 50px;
  top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.telegram {
  padding: 10px 25px ;
  background-color: #219dd9;
  color: white;
  font-family: sans-serif;
  text-transform: capitalize;
}
.youtube {
  padding: 10px 25px ;
  background-color: #f61c0d;
  color: white;
  font-family: sans-serif;
  text-transform: capitalize;
}

@media(max-width:768px){
  .social{
    right: 20px;
    top: 50px;
  }
}